* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 249, 235)
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: center;
    display: flex;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111;
}

h1{
    font-size: 45px;
    text-align: center;
 }