* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-image: url('../images/Work_Background.jpg'); /* Path to your background image */
    background-size:cover; 
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

/* title formatting */

h1{
    margin: 0px auto;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-size: 40px;
}

#game_title{
    color: rgb(59, 159, 87);
    background-color: transparent;
}

h2{
    margin: 0px auto;
    padding: 5px;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}

h3{
    background-color: rgb(202, 202, 202);
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: normal;
}

/* the board container */

.board{
    margin: 80px auto;
    margin-bottom: 0px !important;
    /* border: 3px solid rgb(98, 98, 98); */
    height: auto;
    width: 406px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board+.board{
    margin-top: 30px;
}

/* components of the game */

.job_chart{
    height: 200px;
    width: 390px;
    padding: 5px;
    margin: 5px auto;
    margin-bottom: 0;
}

.guess_dropdown{
    height: 50px;
    width: 295px;
    /* background-color: rgb(181, 212, 255); */
    margin: 5px 0px 5px 5px;
    float:left;
}

input[type="text"] {
    height: 100%;
    width: 100%;   
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 15px 15px;
}

.guessbtn{
    height: 50px;
    width: 90px;
}

.button{
    padding: 5px;
    margin: 5px 5px;
    float: left;
    color:rgb(45, 169, 80);
    background-color: rgb(199, 246, 212);
    font-size: 25px;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
} 

.button:hover{
    background-color: rgb(255, 235, 233);
    font-weight: 600;
}

.button:active{
    background-color: rgb(255, 235, 233);
    color:blue;
    font-weight: 600;
}

.guess{
    height: 50px;
    width: 390px;
    padding: 5px;
    margin: 5px 5px;
}

.hintbtn{
    height: 100px;
    width: 90px;
    padding: 5px;
    margin: 5px 5px;
    float: left
}

.hint{
    height: 100px;
    width: 290px;
    padding: 5px;
    margin: 5px 5px;
    float: left
}

/* the nav bar */

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}

ul.navlinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    align-items: center;
    display: flex;
    width: 100%;
}

ul.navlinks li {
    float: left;
}

ul.navlinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul.navlinks li a:hover {
    /* background-color: #111; */
    color: rgb(59, 159, 87);
}

/* about section */

.about{
    margin: 10px 10px;
}

/* ancillary elements */

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
